@media (max-width: 1072px) {
    .hotel-page__blocks {
        justify-content: space-around;
    }
}

@media (max-width: 732px) {
    .hotel-page__block-main {
        flex-wrap: wrap;
        max-width: 366px;

    }

    .hotel-page__block-main .hotel-page__block-content {
        border-radius: 0px 0px 8px 8px;
    }
}