.inside {
   width: 1110px;
	margin: 0px auto;
	padding: 0px 0px;
	max-width: 100%;
}

*{
   padding: 0;
   margin: 0;
}

.d-flex{
   display: flex;
}

.hotel-page{
   background: #F5FAFE;
   padding-top: 40px;
}

.hotel-page__block-main {
   max-width: 730px;
   margin-bottom: 30px;

}




.hotel-page__block-usual  {
   max-width: 350px;
   margin-bottom: 30px;

}

.hotel-page__block-usual .hotel-page__block-content{
   border-radius: 0px 0px 8px 8px;
   padding: 32px 21px 25px 32px;
}

.hotel-page__blocks{
   justify-content: space-between;
   align-items: start;
   flex-wrap: wrap;
}

.hotel-page__block-img{
   line-height: 0;
   position: relative;

}

.hotel-page__block-img::before {
   content: 'Flash Offer';
   font-family: Muli;
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 15px;
   background: #EC1F46;
   border-radius: 0px 4px 4px 0px;
   color: #FFFFFF;
   position: absolute;
   padding: 8px 22px 7px 10px;
   top: 27px;

}

.hotel-page__block-usual .hotel-page__block-img::before {
   content: 'Flash Offer';
   font-family: Muli;
   font-style: normal;
   font-weight: 600;
   font-size: 8px;
   line-height: 15px;
   background: #EC1F46;
   border-radius: 0px 4px 4px 0px;
   color: #FFFFFF;
   position: absolute;
   padding: 2px 9px 1px 10px;
   top: 27px;

}

.hotel-page__title h1{
   margin-bottom: 65px;
   font-family: Muli;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 45px;
   text-align: center;
   text-transform: uppercase;
   color: #333333;
}
.hotel-page__block-content {
   padding: 47px 21px 30px 44px;
   background: #0A223D;
   border-radius: 0px 8px 8px 0px;
   height: 100%;
}

.block-content__star{
   margin-bottom: 7px;

}

.hotel-page__block-usual .block-content__info{
   margin-bottom: 45px;
}

.hotel-page__block-usual .block-content__title {
   margin-bottom: 24px;
}

.block-content__star img{

   margin-right: 2px;
}

.block-content__title{
   margin-bottom: 27px;
   font-family: Muli;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   color: #FFFFFF;
}

.block-content__pretitle {
   font-family: Muli;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   color: #FFFFFF;
   line-height: 160.6%;
   margin-bottom: 45px;
   height: 154px;
   overflow: hidden;
}

.block-content__info{
   margin-bottom: 58px;
}

.block-content__info ul li {
   font-family: Muli;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   color: #FFFFFF;
   margin-bottom: 11px;
   line-height: 15px;
}

.block-content__info ul li img{
   margin-right: 15.17px;
}

.block-content__price{
   align-items: center;
   font-family: Muli;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   color: #FFFFFF;
   position: relative;
   justify-content: space-between;
}

.block-content__price::before {
   content: '$10,500';
   position: absolute;
   font-family: Muli;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   text-decoration-line: line-through;
   color: #FFFFFF;
   top: -19px;
   left: 3px;
}

.block-content__price button {
   font-family: Nunito;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   color: #FFFFFF;
   background: #EC1F46;
   border-radius: 4px;
   padding: 11px 27px 10px 26px;
   border: 1px solid transparent;

}

.block-content__price button:hover {

   transition: all 0.3s;
   border: 1px solid #EC1F46;
   background: transparent;

}

