*:hover
   transition: 0.3s
.btn
   font-family: "Avenir Next LT Pro - Demi"
   font-size: 15px
   font-weight: 400
   border: none
   padding: 15px 42px 13px 42px
   border-radius: 23px
   align-items: center
   transition: 0.3s
   &-white
      background-color: #fff9f6
      color: #f45e1f
      border: 1px solid transparent

      &:hover
         border: 1px solid rgba(244, 94, 31, 0.35)
         background-color: transparent


      &-outline
         padding: 14px 40px 12px 53px
         color: #ffffff
         border: 1px solid #ffffff
         background: url(../img/place-icon.svg) 36px 13px no-repeat
   &-outline
      &-orange
         color: #f45e1f
         border: 1px solid rgba(244, 94, 31, 0.35)
         background-color: #fff9f6
         &:hover
            background-color: transparent
            color: #f45e1f
            border: 1px solid rgba(244, 94, 31, 0.35)
      &-grey
         color: #666e91
         border: 1px solid rgba(102, 110, 145, 0.3)
         background-color: transparent
         &:hover
            background-color: #f6f7fb
            
