.header
   &__nav, &__button
nav
   ul
      display: flex
      padding-bottom: 15px
      position: relative
      padding-left: 0
      &::after
         content: ''
         position: absolute
         width: 99.9%
         height: 2px
         background-color: #d1d3de
         opacity: 0.25
         top: 37px
         z-index: 0
      li
         margin-right: 30px
         list-style: none
         margin-left: 10px
         transition: 0.3s

         &:first-child
            margin-left: 0px
            a
               padding-left: 0
               &::after
                  left: 0px

         &:last-child
            margin-right: 0px
            a

               &::after
                  left: 0px
         a
            padding-left: 20px
            color: #ffffff
            font-family: "Avenir Next LT Pro - Demi"
            font-size: 15px
            font-weight: 400
            text-decoration: none
            position: relative
            transition: 0.3s
            
            &::after
               content: ''
               position: absolute
               width: 100%
               height: 6px
               background-color: #f45e1f
               left: 10px
               top: 32px
               opacity: 0
               transition: 0.3s
               z-index: 10
            &:first-child
               

            &:hover
               transition: 0.3s
               &::after
                  transition: 0.3s
                  opacity: 1

.header__mob-menu
   background: rgba(101,101,101,.4)
   backdrop-filter: blur(5px)
   position: absolute
   width: 250px
   height: 50vh
   z-index: 10
   padding: 40px 30px 120px
   border-radius: 0px 0px 0px 20px
   right: 0
   top: 0
   display: none
   nav
      margin-top: 20px
      ul
         flex-direction: column
         margin: 0
         padding: 0
         &::after
            content: ''
            position: absolute
            width: 0
            height: 0
            background-color: transparent
            opacity: 0
         li
            margin: 0
            padding: 0
            margin-bottom: 20px
            text-align: center
            a
               font-size: 20px
               margin: 0
               padding: 0
               &::after
                  content: ''
                  position: absolute
                  width: 0
                  height: 0
                  background-color: transparent
                  opacity: 0
.header__mob-menu .btn-white
   display: block  
   margin: 0 auto

.burger_start.active 
  background: transparent 
  transition: 0.4s 
 

.burger_center.active  
  transform: rotate(45deg) 
  transition: 0.4s 
 

.burger_end.active  
  transform: rotate(-45deg) 
  transition: 0.4s 
  margin-top: -6px 