h2
   color: #273164
   font-family: "Avenir Next LT Pro - Demi"
   font-size: 30px
   font-weight: 400
   margin: 0
   margin-bottom: 59px

h3
   color: #273164
   font-family: "Avenir Next LT Pro - Demi"
   font-size: 25px
   font-weight: 400
.orange-text
   margin-bottom: 21px
   p
      color: #f45e1f
      font-family: "Avenir Next LT Pro - Demi"
      font-size: 13px
      font-weight: 400
      text-transform: uppercase
   &__small
      p
         color: #f45e1f
         font-family: "Avenir Next LT Pro - Demi"
         font-size: 14px
         font-weight: 400

.text
   p
      color: #676f92
      font-family: "Avenir Next LT Pro"
      font-size: 14px
      font-weight: 400