@import 'btn'
@import 'nav'
@import 'title'

.reviews-inside
	width: auto
.inside-header 
	width: 1158px
	margin: 0px auto
	padding: 0px 0px
	max-width: 100%

.inside 
	width: 1000px
	margin: 0px auto
	padding: 0px 0px
	max-width: 100%

p
	margin: 0
body
	margin: 0
button
	outline: none
	cursor: pointer 

.d-flex 
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  flex-wrap: wrap

.f-justify-content
	justify-content: space-between

.main-screan
	background: url(../img/bg-main.png) center no-repeat
	height: 100vh 
	background-size: cover

header
	padding-top: 24px
	align-items: center
.header
	&__nav

	&__button
		button
			padding: 15px 12px 13px 12px

.burger_menu
	margin-left: 86%
	&_line
		background: rgba(255, 211, 124, 0.8)
		border-radius: 10px
		width: 23px
		height: 2px
		margin-top: 4px
		margin-bottom: 4px
.main-screen
	max-width: 69%
	margin-top: 19%
	&__title
		margin-bottom: 14px
		h1
			color: #ffffff
			font-family: "Avenir Next LT Pro"
			font-size: 65px
			font-weight: 700
			line-height: 65px
			margin: 0
			span
				z-index: 8

				position: relative
				&:before
					top: 30px
					left: 20px
					content: ''
					position: absolute
					width: 283px
					height: 38px
					background-color: #41c48c
					z-index: -1
	&__pretitle
		margin-bottom: 39px
		max-width: 60%

		p
			color: #ffffff
			font-family: "Avenir Next LT Pro"
			font-size: 15px
			font-weight: 400
			line-height: 25px
	&__learn-more
		align-items: center
		p
			color: #fffefe
			font-family: "Avenir Next LT Pro - Demi"
			font-size: 12px
			font-weight: 400
			line-height: 26px
			text-transform: uppercase
			margin-right: 33px
	&__buttons
		margin-bottom: 27%
		button
			margin-right: 25px
.learn-more
	&__line
		width: 443px
		height: 1px
		background-color: #ffffff
		opacity: 0.4
	&__arrow
		border-radius: 100%
		border: 1px solid #ffffff
		opacity: 0.4
		img
			padding: 27px 30px 23px
		
.choice
	padding-bottom: 156px
	background-color: #f6f7fb
	padding-top: 20px
	.inside
		position: relative
		background-color: #f6f7fb
		margin-top: -70px

	&__title
		padding-top: 20px

		margin-bottom: 130px
		text-align: center
		p
			color: #b4b4b4
			font-family: "Avenir Next LT Pro - Demi"
			font-size: 12px
			font-weight: 400
			text-transform: uppercase
			letter-spacing: 0.6px
	&__blocks
		justify-content: center
	&__block
		max-width: 246px
		max-height: 330px
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.02)
		border-radius: 10px
		background-color: #ffffff
		padding:  40px 46px 37px 38px
		margin-right: 35px
		margin-left: 35px
		&-img
			margin-bottom: 24px
			
		&-title
			margin-bottom: 13px
			p
				color: #273164
				font-family: "Avenir Next LT Pro - Demi"
				font-size: 24px
				font-weight: 400
		&-descr
			margin-bottom: 29px
			p
				color: #b4b4b4
				font-family: "Avenir Next LT Pro"
				font-size: 14px
				font-weight: 400
				line-height: 22px
		&-link
			a
				color: #f45e1f
				font-family: "Avenir Next LT Pro"
				font-size: 13px
				font-weight: 400
				text-decoration: underline
				letter-spacing: -0.26px
		&-blue
			background-color: #273164
			.choice__block
				&-title
					p
						color: #ffffff
				&-descr
					p
						color: #ffffff
.info
	padding-top: 131px
	&__title
		h2
			margin-bottom: 44px
			margin-top: 0 
	
	&__content
		padding-bottom: 119px
		&-wrap
			max-width: 440px
			p
				color: #b4b4b4
				font-family: "Avenir Next LT Pro"
				font-size: 14px
				font-weight: 400
				line-height: 24px
				margin-bottom: 20px
				span
					font-family: "Avenir Next LT Pro - Demi"
					font-weight: 600
					text-decoration: underline
	&__advantages
		padding-bottom: 64px
		background: url(../img/2-layers.png) right no-repeat,  url(../img/dots.png) center no-repeat
		background-position-x: right, 47%
		background-position-y: center, 31% 

		&-content
			max-width: 435px
		&-img
			margin-bottom: 89px
			
			img
				margin-top: -94px
		&-pretitle
			margin-bottom: 16px
			p

		&-title
			h2
				margin-bottom: 34px

		&-text
			margin-bottom: 37px
			p
				line-height: 26px
				color: #676f92
				font-family: "Avenir Next LT Pro"
				font-size: 14px
				font-weight: 400
		&-ul
			ul
				margin: 0
				padding-left: 22px
				li
					padding-left: 28px
					color: #273164
					font-family: "Avenir Next LT Pro - Demi"
					font-size: 16px
					font-weight: 400
					margin-bottom: 17px
					list-style: url(../img/check-icon.png)

.advantages__wrap
	background-color: #f6f7fb

.book
	padding-bottom: 169px
	padding-top: 159px
	&__content
		max-width: 387px
		min-width: 387px
		&-pretitle
			margin-bottom: 17px
		&-text
			margin-bottom: 61px
			line-height: 24px
		&-title
			h2
				margin-bottom: 46px
		&-custom
			&-type
				margin-bottom: 52px
				&__p
					margin-bottom: 19px
				&__button
					button
						margin-right: 25px
			&-changes
				&__l
					margin-right: 42px
				&__p
					margin-bottom: 15px
				&__button
					align-items: center
					p
						color: #111111
						font-family: "Avenir Next LT Pro - Demi"
						font-size: 14px
						font-weight: 400
						margin: 0px 28px
					.wrap_changes__button
						border: 1px solid #b4b4b4
						opacity: 0.3
						border-radius: 100%
						width: 15px
						height: 15px
						align-items: center
						text-align: center
						padding: 10px 9px 9px 10px
						&:first-child
							img
								margin-bottom: 5px
				&__r
	&__form
		.form
			width: 342px
			height: 339px
			background-color: #273164
			padding: 52px 79px
			&__total
				margin-bottom: 8px
				p
					color: #ffffff
					font-family: "Avenir Next LT Pro - Demi"
					font-size: 30px
					font-weight: 400
					margin-right: 35px
			&__info
				margin-bottom: 45px
			
				ul
					margin: 0
					padding: 0
					li
						color: #ffffff
						font-family: "Avenir Next LT Pro"
						font-size: 12px
						font-weight: 400
						line-height: 24px

						list-style: none
						span
							color: #f45e1f
							font-family: "Avenir Next LT Pro - Demi"
							font-weight: 600
			&__input
				input
					width: 100%
					margin-bottom: 28px
					padding: 0
					padding-bottom: 5px
					color: #ffffff
					font-family: "Avenir Next LT Pro"
					font-size: 14px
					font-weight: 400
					background-color: transparent
					border: none
					border-bottom: 1px solid #7d83a2
					&:focus
						outline: none
				p
					margin-bottom: 10px
					color: #f45e1f
					font-family: "Avenir Next LT Pro"
					font-size: 10px
					font-weight: 400
					text-transform: uppercase

			&__button
				a
					text-decoration: none
					color: #f45e1f
					font-family: "Avenir Next LT Pro - Demi"
					font-size: 20px
					font-weight: 400
					img
						margin-left: 24px
						margin-bottom: -2px;

.reviews
	background-color: #f6f7fb
	padding-top: 149px
	padding-bottom: 159px
	&-inside
		margin-left: 220px
		margin-right: 0
		width: auto
	&__blocks
		margin-bottom: 150px
	&__block
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.02)
		background-color: #ffffff
		padding: 59px 63px 58px 32px
		max-width: 305px
		height: 283px
		margin-right: 90px
		&-img
			margin-bottom: 29px
		&-text
			margin-bottom: 31px
			p
				color: #273164
				font-family: "Avenir Next LT Pro - Demi"
				font-size: 20px
				font-weight: 400
				line-height: 30px
		&-info
			p
				margin-bottom: 0px
			span
				color: #b4b4b4
				font-family: "Avenir Next LT Pro"
				font-size: 14px
				font-weight: 400
	&__feedback
		text-align: center
		&-title
			h3
				margin-bottom: 41px
		&-button
			button
				margin-right: 25px

footer
	padding-top: 148px
	padding-bottom: 31px
.footer

	&__top
		margin-bottom: 80px
		h4
			color: #273164
			font-family: "Avenir Next LT Pro - Demi"
			font-size: 22px
			font-weight: 400
			margin: 0
			height: 34px
			align-items: flex-end
    		display: flex

		h2
			margin: 0
		ul
			padding: 0
			margin: 0
			margin-top: 35px
			li
				list-style: none
				color: #676f92
				font-family: "Avenir Next LT Pro - Demi"
				font-size: 14px
				font-weight: 400
				text-decoration: none
				margin-bottom: 20px
				a
					color: #676f92
					font-family: "Avenir Next LT Pro - Demi"
					font-size: 14px
					font-weight: 400
					text-decoration: none
		span
			color: #f45e1f
			font-size: 19px
			text-decoration: underline
	&__bottom
		&-line
			margin-bottom: 30px
			width: 100%
			height: 2px
			background-color: #d1d3de
			opacity: 0.3
		&-text
			p
				color: #676f92
				font-family: "Avenir Next LT Pro"
				font-size: 14px
				font-weight: 400
	&__sparcle-social
		margin-top: 39px
		a
			text-decoration: none
			margin-right: 24px