/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (max-width: 1485px) {
   .configuration__select {
      max-width: 100%;
   }

   .order__input-wrap-long {
      width: 100%;
   }

   .order__pay {
      max-width: 100%;
   }

   .order__input-wrap {
      width: 48%;
   }

   .inside {
      padding-right: 20px;
      padding-left: 20px;
   }

   .title {
      font-size: 37px;
   }

   .contacts__l-content p {
      font-size: 28px;
   }

   .body__title-block {
      font-size: 40px;
   }

   .private-office__buttons {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }

   .private-office__pretitle p {
      font-size: 24px;
   }
}

@media (max-width: 1420px) {

   .private-office__buttons .btn-1 a,
   .private-office__buttons .btn-1 button {
      margin-bottom: 20px;
      margin-right: 0;
   }

   .private-office__buttons .btn-1 {
      margin-right: 0;
   }

   .private-office {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }
}

@media (max-width: 976px) {
   .private-office__input-wrap {
      max-width: 100%;
      width: 100%;
      margin-right: 0;
   }

   .private-office__buttons .btn-2 input {
      max-width: 100%;
   }

   .btn-outline.btn.btn-2 {
      max-width: 100%;
   }
}


@media (max-width: 1300px) {

   .configuration__select p,
   .configuration__download p {
      font-size: 22px;
   }

   .private-office__pretitle p {
      font-size: 23px;
   }

   .contacts__l-content p {
      font-size: 26px;
   }

   .title {
      font-size: 34px;
   }

   .body__title-block {
      font-size: 34px;
   }
}



@media (max-width: 1238px) {
   .order__done-title p {
      font-size: 24px;
   }

   .order__pay {
      padding: 0px 20px;
   }

   .order__pay-block-text p {
      font-size: 18px;
   }

   .order__delivery .order__pay-block p {
      font-size: 16px;
   }

   .order__pay-block-text span {
      font-size: 14px;
   }

   .private-office__pretitle p {
      font-size: 22px;
   }

   .private-office__r {
      max-width: 50%;
   }

   .inside {
      padding-right: 20px;
      padding-left: 20px;
   }

   nav ul li {
      margin-right: 0px;
      font-size: 13px;
   }

   nav ul a {
      margin-right: 15px;
      font-size: 13px;

   }

   .contacts__l-content p {
      font-size: 25px;
   }

   .btn-square a,
   .btn-square button {
      font-size: 12px;
      padding: 9px 29px;

   }

   .header__title {
      font-size: 17px;
   }
}


@media (max-width: 1168px) {
   .order__done-title p {
      font-size: 23px;
   }

   .order__done-title p:after {
      top: 30px;
   }

   .inside {
      padding-right: 20px;
      padding-left: 20px;
   }

   nav ul li {
      margin-right: 0px;
   }

   nav ul a {
      margin-right: 15px;
   }

   .btn-square a,
   .btn-square button {
      font-size: 12px;
      padding: 9px 19px;

   }

   .header__title {
      font-size: 18px;
   }

   .body__title-block {
      font-size: 33px;
   }
}

@media (max-width: 1108px) {
   .order__done-title p {
      font-size: 22px;
   }

   .order__done-title p:after {
      top: 29px;
   }

   .order__pay-block-text p {
      font-size: 17px;
   }

   .order__delivery .order__pay-block p {
      font-size: 15px;
   }

   .order__pay-block-text span {
      font-size: 14px;
   }

   .private-office__pretitle p {
      font-size: 20px;
   }

   .contacts__l-content p {
      font-size: 22px;
   }

   .inside {
      padding-right: 20px;
      padding-left: 20px;
   }

   header {
      padding-top: 20px;
   }

   nav ul li {
      margin-right: 0px;
   }

   nav ul a {
      margin-right: 15px;
   }

   .btn-square a,
   .btn-square button {
      font-size: 12px;
      padding: 9px 19px;

   }

   .header__title {
      font-size: 18px;
   }
}

@media (max-width: 1060px) {

   .configuration__prettitle p,
   .configuration__prettitle p:first-child {
      font-size: 19px;
   }

   .private-office__pretitle p {
      font-size: 19px;
   }

   .contacts__l .title,
   .contacts__r .title {
      margin-bottom: 35px;
   }

   .contacts {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0 60px;
   }

  

   .contacts__r-content form{
      align-items: center !important;
      display: flex !important;
      flex-direction: column !important;
   }

   .contacts__r {
      background: #f6f7fd;
      -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, .17);
      box-shadow: 0 4px 20px rgba(0, 0, 0, .17);
      border-radius: 10px;
      padding: 61px 89px;
      max-width: 100%;
      width: 100%;

   }

   input {
      max-width: 100% !important;
   }

   .contacts__r-content {

      display: -webkit-box;

      display: -ms-flexbox;

      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }

   .contacts__r .title {
      text-align: center;
   }

   .inside {
      padding-right: 20px;
      padding-left: 20px;
   }

   header {
      padding-top: 20px;
      padding-bottom: 20px;
   }

   nav ul li {
      margin-right: 0px;
   }

   nav ul a {
      margin-right: 15px;
   }

   .btn-square a,
   .btn-square button {
      font-size: 12px;
      padding: 9px 19px;

   }

   .header__title {
      font-size: 16px;
   }

   .header__logo {
      font-size: 15px;
   }

}

@media (max-width: 1030px) {

   .configuration__prettitle p,
   .configuration__prettitle p:first-child {
      font-size: 18px;
      margin-bottom: 10px;
   }

   .header__nav,
   .header__nav-tel,
   .header__buttons,
   .header__title {
      display: none;
   }

   .header {
      margin-bottom: 0px;
   }

   .header__mob-menu {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      padding: 41px 21px 21px 21px;
   }

   .header__mob-menu .header__buttons {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
   }

   .bg-men {
      margin-left: 88%;
   }

   .header__logo {
      z-index: 10;
   }

   .header__mob-menu nav ul a {
      margin-right: 0;
   }

   .header__mob-menu .header__nav-tel {
      display: block !important;
   }

}

@media (max-width: 930px) {
   .order__done-title p {
      font-size: 21px;
   }

   .order__done-title p:after {
      top: 28px;
   }

   .order__pay-block-text p {
      font-size: 17px;
   }

   .order__delivery .order__pay-block p {
      font-size: 14px;
   }

   .order__pay-block-text span {
      font-size: 14px;
   }

   .order__pretitle {
      font-size: 22px;
   }

   .configuration__prettitle p,
   .configuration__prettitle p:first-child {
      font-size: 17px;
      margin-bottom: 10px;
   }

   .private-office__pretitle p {
      font-size: 18px;
   }

   .contacts__l-content p {
      font-size: 22px;
   }

   .title {
      font-size: 27px;
   }

   .contacts__l .title {
      margin-bottom: 25px;
   }

}

@media (max-width: 850px) {
   .configuration__select .jq-selectbox__select {
      padding: 19px 447px 44px 29px !important;
   }

   .order__done-title p {
      font-size: 20px;
   }

   .order__done-title p:after {
      top: 27px;
   }

   .order__pay-block,
   .order__pay-block:nth-child(3),
   .order__pay-block:last-child {
      padding-left: 23px;
   }

   .order__pay-block:last-child {
      padding: 28px 20px 42px 23px;
   }

   .order__pay-block-text {
      margin-left: 23px;
   }

   .configuration__prettitle p,
   .configuration__prettitle p:first-child {
      font-size: 16px;
      margin-bottom: 8px;
   }

   .order__pretitle {
      font-size: 20px;
   }

   .private-office__pretitle p {
      font-size: 17px;
   }

   .contacts__l-content p {
      font-size: 20px;
      margin-bottom: 24px;
   }

   .title {
      font-size: 26px;
   }

   .body__input-big input {
      padding: 30px 0 30px 29px;
   }

   .btn-long a,
   .btn-long button {
      padding: 21px 123px;
      background: #ff4a35;
   }


}

@media (max-width: 800px) {
   .order__done-title p:after {
      top: 26px;
   }

   .order__done-title p {
      font-size: 19px;
   }

   .private-office__pretitle p {
      font-size: 16px;
      margin-bottom: 250px;
   }

   .private-office {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }

   .private-office__r {
      max-width: 60%;
   }

   .private-office__l {
      position: absolute;
      width: 252px;
      height: 200px;
   }

   .private-office .title,
   .private-office__pretitle {
      text-align: center;
   }

   .private-office__l-title p {
      font-size: 16px;
   }

   .private-office__l-img {
      margin-bottom: 15px;
   }

   .private-office__l {
      padding-top: 25px;
      top: 105px;
   }

   .private-office__l-img img {
      width: 100px;
   }

   .private-office {
      position: relative;
   }

   .private-office__line {
      display: none;
   }
}




@media (max-width: 750px) {
   .order__done-title p {
      font-size: 18px;
   }

   .order__done-title p:after {
      top: 26px;
   }

   .order__pay-block-text p {
      font-size: 17px;
   }

   .order__delivery .order__pay-block p {
      font-size: 15px;
   }

   .order__pay-block-text span {
      font-size: 13px;
   }

   .order__pretitle {
      font-size: 19px;
   }

   .configuration__select {
      margin-top: 15px;
   }

   .configuration__prettitle p,
   .configuration__prettitle p:first-child {
      font-size: 15px;
      margin-bottom: 5px;
   }

   .title {
      font-size: 24px;
   }

   .inside-body {
      padding: 20px;
   }

   .private-office__buttons .btn-1,
   .private-office__buttons .btn-1 a,
   .private-office__buttons .btn-1 button,
   .private-office__buttons .btn-2 button {
      max-width: 100%;
   }
}

@media (max-width: 550px) {
   .order__done-title span {
      font-size: 13px;
   }

   .order__done-title p {
      font-size: 16px;
   }

   .order__done-title p:after {
      top: 26px;
   }

   .order__input-checks p {
      font-size: 11px;
      margin-top: 4px;
   }

   .order__pay-block,
   .order__pay-block:nth-child(3),
   .order__pay-block:last-child {
      padding-left: 23px;
   }

   .order__pay-block-input .jq-checkbox.checked .jq-checkbox__div {
      margin: 8px 0 0 6px;
      border-bottom: 2px solid #000;
      border-left: 2px solid #000;
      width: 11px;
      height: 5px;
   }

   .order__pay-block:last-child {
      padding: 28px 20px 42px 23px;
   }

   .order__pay-block-text {
      margin-left: 23px;
   }

   .order__pay-block-input .jq-checkbox {
      width: 25px !important;
      height: 25px !important;
   }
}

@media (max-width: 500px) {

   .order__input-wrap {
      width: 100%;
   }

   .order__input-wrap input {
      width: 100%;
   }

   .configuration__prettitle p,
   .configuration__prettitle p:first-child {
      font-size: 14px;
      margin-bottom: 3px;
   }

   .contacts__l .title {
      text-align: center;

   }

   .contacts__l {
      width: 100%;
   }

   .body__check-wrap input {
      margin-right: 10px;
   }

   .header__mob-menu {
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100vh;
      text-align: center;
      border-radius: 0;
   }


   .header__mob-menu .header__buttons {
      margin: 0 auto;
      margin-top: 30px;

   }

   .header__mob-menu nav ul {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 30px;
   }
}

@media (max-width: 576px) {
   .order__pay-block-text p {
      font-size: 16px;
   }

   .order__delivery .order__pay-block p {
      font-size: 14px;
   }

   .order__pay-block-text span {
      font-size: 11px;
   }

   .contacts__r-content form input,
   .contacts__r-content form textarea {
      max-width: 100%;
      min-width: 0px;
   }

   .contacts__r-content form {
      max-width: 100%;
   }

   .contacts__r {
      padding: 30px 20px;
   }
}

@media (max-width: 660px) {
   .order__done-wrap {
      width: 100%;
   }

   .jq-selectbox__select,
   .order__done-wrap .jq-selectbox__select {
      width: 100% !important;
   }

   .body__input input {
      width: 100%;

   }

   .order__input-checks {
      width: 100%;
   }

   .order__done-wrap-long {
      width: 100%;
   }

   .body__input input:last-child,
   .order__done-wrap-long-input {
      width: 100%;
   }


   .order__input-checks p,
   .order__done-check p,
   .order__input-check p {
      font-size: 12px;
   }

   .order__input-check p,
   .order__done-check p {
      margin-top: 2px;
   }
}


@media (max-width: 650px) {
   .body__input .jq-selectbox__select {
      padding: 13px 46px 38px 29px !important;
      font-size: 17px !important;

   }

   .jq-selectbox__select-text {
      width: 100px !important;
   }

   .wrap-input::after {
      top: 58px;
   }

   .configuration__select .jq-selectbox__select {
      padding: 14px 47px 39px 20px !important;
      font-weight: 500 !important;
      font-size: 17px !important;
   }

   .dopramka-select .jq-selectbox__select {
      font-size: 18px !important;
      padding: 25px 184px 49px 0px !important;

   }

   .w {
      width: 84%;
   }

   .dopramka-button:last-child a,
   .dopramka-button:last-child button,
   .dopramka-button:first-child a,
   .dopramka-button:first-child button {
      font-size: 18px;
   }

   .pretitle p,
   .dopramka-pretitle p {
      font-size: 17px;
   }

   .configuration__button-2 button {
      font-size: 17px;
      width: 190px;
   }

   .configuration__select p,
   .configuration__download p {
      font-size: 19px;
   }

   .social-img img {
      width: 62%;
   }

   .social-title {
      font: 14px;
   }

   .social {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

   }

   .social__block {
      margin: 0px 15px 25px 15px;

   }
}

@media (max-width: 536px) {
   .dopramka-select .jq-selectbox__select {
      font-size: 17px !important;
   }

   .dopramka-button:last-child a,
   .dopramka-button:last-child button,
   .dopramka-button:first-child a,
   .dopramka-button:first-child button {
      font-size: 17px;
   }

   .pretitle p,
   .dopramka-pretitle p {
      font-size: 16px;
   }

   .private-office__buttons .btn-1 a,
   .private-office__buttons .btn-1 button,
   .private-office__buttons .btn-2 button,
   .private-office__buttons .btn-2 a {
      font-size: 15px;
      background-position-x: 238px;
      max-width: 90%;
   }

   .private-office__buttons .btn-1,
   .btn-outline.btn.btn-2 {
      text-align: center;
   }

   .private-office__r {
      max-width: 80%;
   }

   .social-img img {
      width: 62%;
   }

   .social-title {
      font: 14px;
   }

   .social {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

   }

   .social__block {
      margin: 0px 10px 25px 10px;

   }
}

@media (max-width: 536px) {

   .social-img img {
      width: 50%;
   }

   .social-title {
      font: 13px;
   }

   .social {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

   }

   .social__block {
      margin: 0px 10px 25px 10px;

   }
}


@media (max-width: 500px) {

   .configuration__select p,
   .configuration__download p {
      font-size: 18px;
   }

   .social-img img {
      width: 50%;
   }

   .social-title {
      font: 13px;
   }

   .social {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

   }

   .social__block {
      margin: 0px 0px 25px 0px;

   }
}

@media (max-width: 418px) {
   .dopramka-select .jq-selectbox__select {
      width: 75%;
      padding: 20px 0px 44px 7px !important;
   }

   .jq-selectbox__select-text {}

   .dopramka-select {
      max-width: 100%;
   }
}

@media (max-width: 418px) {
   .body__button.body__button-center.btn.btn-long button {
      font-size: 14px !important;
   }

   .body {
      background: #fff url(../img/bg-mob.png) center no-repeat;
      background-size: cover;

   }

   .social-img img {
      width: 41%;
   }

   .social-title {
      font: 13px;
   }

   .social {
      -ms-flex-pack: distribute;
      justify-content: space-around;

   }

   .social__block {
      margin: 0px 0px 25px 0px;
      width: 105px;
   }
}

@media (max-width: 618px) {

   .jq-selectbox__select,
   .order__done-wrap .jq-selectbox__select {
      height: 50px !important;
      padding: 13px 0 19px 35px !important;

   }

   .order__pretitle {
      font-size: 18px;
   }

   .contacts__l-content p {
      font-size: 16px;
      margin-bottom: 20px;
   }

   .body__title-block {
      font-size: 30px;
   }

   .contacts__r-content form p {
      font-size: 10px;
   }


   .body__input input {
      height: 50px !important;
   }

   .body__input {
      font-size: 15px;
   }

   .body__check-wrap p {
      font-size: 13px;
   }

   .footer__leng-line {
      margin: 0 7px;
   }

   .body__check-wrap {
      max-width: 100%;
   }

   .footer__leng p {
      font-size: 14px;
   }

   .footer__relament a {
      font-size: 13px;
   }

   .title {
      font-size: 26px;
   }

   .body__title {
      margin-bottom: 15px;
   }

   .body {
      padding-top: 60px;
      padding-bottom: 40px;
      overflow: hidden;
   }
}

@media (max-width: 520px) {
   footer {
      position: relative;
   }

   .footer__leng {
      position: absolute;
      top: 76%;
      right: 0;
      padding-right: 25px;

   }

   .body__check-wrap p {
      font-size: 13px;
   }

   .footer__top {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }


}


@media (max-width: 356px) {
   .configuration__download-button button {
      padding: 7px 23px !important;
      margin-right: 8px;
      font-size: 13px !important;
   }

   .configuration__download p:last-child {
      font-size: 12px;
   }

   .configuration__download {
      max-width: 100%;
   }
}

@media (max-width: 470px) {
   .configuration__button-2 button {
      font-size: 16px;
      width: 185px;
   }

   .configuration__download-button button {
      padding: 11px 34px;
      font-size: 14px;
   }

   .configuration__download p:last-child {
      font-size: 12px;
   }

   .configuration__download {
      max-width: 100%;
   }


   .body__title-block {
      font-size: 26px;
   }

   .btn a,
   .btn button {
      font-size: 14px;
      padding: 16px 30px;
   }

   .body__button.body__button-center.btn.btn-long button,
   .body__button.body__button-center.btn.btn-long a {
      padding: 18px 103px;
      background: #ff4a35;
   }

   .body__input-big input {
      padding: 30px 0 30px 29px;
   }

   .btn-blue {
      margin-left: 10px;
   }

   .body__check-wrap p {
      font-size: 11px;
   }
}

@media (max-width: 414px) {
   .body__input .jq-selectbox__trigger {
      width: 48px !important;
   }

   .selectbox__select {
      padding: 11px 47px 35px 20px !important;
      font-weight: 600 !important;
   }

   .jq-selectbox__select,
   .order__done-wrap .jq-selectbox__select {
      height: 40px !important;
      padding: 8px 0 19px 35px !important;

   }

   .order__done-title span {
      font-size: 12px;
   }

   .order__done-title p {
      font-size: 14px;
   }

   .order__done-title p:after {
      top: 22px;
   }

   .order__pay-block-text p,
   .order__delivery .order__pay-block p {
      font-size: 13px;
   }

   .order__input-checks p {
      font-size: 10px;
      margin-top: 4px;
   }

   .w {
      width: 84%;
   }

   .order__delivery .order__pay-block {
      width: 100%;
   }

   .order__pay-block-text span {
      font-size: 10px;
   }

   .dopramka-select .jq-selectbox__select {
      font-size: 16px !important;
   }

   .order__pretitle {
      font-size: 16px;
   }

   .dopramka-button:last-child a,
   .dopramka-button:last-child button,
   .dopramka-button:first-child a,
   .dopramka-button:first-child button {
      font-size: 16px;
      width: 241.16px;
      height: 52px;
   }

   .dopramka-img img {
      width: 70%;
   }

   .pretitle p,
   .dopramka-pretitle p {
      font-size: 15px;
   }

   .configuration__button-2 button {
      font-size: 13px !important;
      padding: 12px 30px !important;
      width: 180px;
   }

   .configuration__select p,
   .configuration__download p {
      font-size: 15px;
   }

   .configuration__prettitle p,
   .configuration__prettitle p:first-child {
      font-size: 13px;
      margin-bottom: 0px;
   }

   .private-office__buttons .btn-2 img {
      width: 7%;
      margin-left: 4px !important;
      margin-bottom: -2px !important;
   }

   .private-office__buttons .btn-2 button,
   .private-office__buttons .btn-2 a {
      padding: 10px 16px;
   }

   .body__title-block {
      font-size: 23px;
   }

   .body__button.body__button-center.btn.btn-long button,
   .body__button.body__button-center.btn.btn-long a {
      padding: 17px 83px;
      background: #ff4a35;
   }

   .body__input input {
      height: 30px;
   }

   .body__input-big input {
      padding: 25px 0 25px 29px;
   }

   .title {
      font-size: 18px;
   }


   .btn-blue {
      margin-left: 10px;
   }

   .btn a,
   .btn button {
      font-size: 10px;
      padding: 10px 20px;

   }

   .footer__relament {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      color: transparent;
      max-width: 50%;
      text-align: right;

   }

   .footer__relament a {
      margin: 0;
   }

   .footer__relament a:first-child {
      margin-right: -9px;
   }

   .body__input input {
      height: 40px;
   }

   .body__input {
      font-size: 13px;
   }
}

@media (max-width: 414px) {
   .body__button.body__button-center.btn.btn-long button {
      font-size: 14px !important;

   }

   .body__input input {
      height: 30px !important;
   }

   .body__input {
      font-size: 12px;
   }

   .wrap-input::after {
      font-size: 13px;
   }
}

@media (max-width: 370px) {
   .contacts {
      padding: 0;
   }

   .wrap-input::after {
      font-size: 12px;
   }

   .contacts__l-content p {
      font-size: 15px;
      margin-bottom: 20px;
   }

}

@media (max-width: 400px) {
   .order__done-title {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }

   .order__done-title span {
      margin-top: 19px;

   }

   .order__pay-block-input .jq-checkbox {
      width: 20px !important;
      height: 20px !important;
   }

   .order__pay-block-input .jq-checkbox.checked .jq-checkbox__div {
      margin: 5px 0 0 4px;
      width: 9px;
      height: 4px;
   }

   .order__pay-block-text {
      margin-left: 13px;
   }

   .w {
      width: 79%;
   }
}

.header__mob-menu {
   display: none !important;
}