@media (max-width: 1500px) {
   .info__advantages {
      background-size: 36%, auto;
   }
}

@media (max-width: 1534px) {
   .main-screen {
      margin-top: 23%;
   }

   .main-screen__buttons {
      margin-bottom: 11%;
   }
}
@media (max-width:1173px) {
   .inside-header{
      max-width: 95%;
   }
}

@media (max-width: 1490px){
   .main-screen {
      margin-top: 17%;
   }
}
@media (max-width:1005px) {
   .main-screen__title h1{
      font-size: 60px;
   }

   .main-screen__title h1 span:before{
      top: 30px;
      left: 20px;
      width: 240px;
      height: 36px;
   }
}

@media (max-width:1000px) {

   .inside{
      width: auto;
      max-width: 90%;
   }

   .reviews-inside{
      margin-left: 5%;
      width: auto;
      max-width: auto;
   }

   .inside-header {
      max-width: 90%;
   }

   .main-screen__buttons {
      margin-bottom: 15%;
   }
}
@media (max-width: 500px) {
   .header__mob-menu{
      width: 88%;
      height: 100%;
      border-radius: 0;
      z-index: 9;
   }

   .header__mob-menu nav ul li a {
      font-size: 25px;
      margin: 0;
      padding: 0;
   }

   .header__mob-menu nav ul li {
      margin: 0;
      padding: 0;
      margin-bottom: 26px;
      text-align: center;
   }
   .header__mob-menu nav {
      margin-top: 0;
      margin-top: 81px;
      margin-bottom: 20px;
   }

   .burger_menu {
      margin-left: 95.5%;
   }

   .header__logo{
      z-index: 10;
   }

   .header__mob-menu .btn-white{

      display: block;  
      margin: 0 auto;
   }
}

@media (max-width: 810px) {
   .header__nav, .header__button, .header__mob-menu .btn-white{
      display: none;
   }

   .header__mob-menu{
      display: block;
   }

   .header__mob-menu nav ul{
      display: none;
   }

   .header__mob-menu{
      background: transparent;
      backdrop-filter: none;
   }
}

@media (max-width: 994px) {
   .header__nav nav ul li {
      margin-right: 0;
   }
   .main-screen {
      max-width: 85%;
   }

   nav ul li a{
      padding-left: 7px;
   }

   .header__button button{
      font-size: 13px;
   }
   nav ul::after{
      width: 99.9%;
   }

   .main-screen__buttons{
      margin-bottom: 17%;
   }

   .main-screen__title h1{
      font-size: 58px;
   }
   .main-screen__title h1 span:before{
      width: 221px;
   }
}

@media (max-width: 979px) {
  .info .inside{
     text-align: center;
  }

  .book .inside{
     justify-content: center;
  }

  .book__content{
      margin-bottom: 40px;
  }

  .info__content{
     justify-content: center;
     text-align: left;
  }

  .info__advantages-content{
     text-align: left;
     margin: 0 auto;
  }
  .info__advantages{
     background-size: 26%;
      background-position-x: right,18%;
      background-position-y: center,34%;
  }
}

@media (max-width: 920px) {
   .main-screen {
      max-width: 84%;
   }

}

@media (max-width: 794px) {
   .main-screen {
      max-width: 80%;
   }

   .main-screen__title h1 span:before {
      top: 24px;
      left: 14px;

      width: 187px;
      height: 31px;

   }

   .main-screen__pretitle{
      max-width: 90%;
   }

   .learn-more__line{
      width: 303px;

   }

   .main-screen__title h1 {
      font-size: 45px;
   }
}

@media (max-width: 700px) {
   .main-screen {
      max-width: 90%;
   }

   .learn-more__line{
      width: 309px;
   }



   .main-screen__title h1 span:before {
      top: 23px;
      left: 14px;
      width: 183px;
      height: 31px;
   }

   .main-screen__pretitle{
      max-width: 100%;
   }

   .main-screen__title h1 {
      font-size: 45px;
   }
}

@media (max-width: 550px) {
   .learn-more__line {
      width: 209px;
   }

   .main-screen__title h1 span:before {
      top: 20px;
      left: 14px;
      width: 153px;
      height: 26px;
   }

   .main-screen__title h1 {
      font-size: 39px;
      line-height: 45px;
   }


   .learn-more__arrow img {
      padding: 20px 23px 14px;
   }
}
@media (max-width: 630px) {

   .learn-more__line{
      width: 200px;
   }
}

@media (max-width: 573px) {
   .main-screen {
      max-width: 95%;
   }
}
@media (max-width: 471px) {
   .learn-more__line {
      width: 159px;
   }

   .main-screen__title h1 {
      font-size: 32px;
   }

   .main-screen__title h1 span:before {
      top: 16px;
      left: 11px;
      width: 132px;
      height: 19px;
   }
}

@media (max-width: 465px) {
   .main-screen__buttons{
      display: flex;
      justify-content: space-between;
   }

   .learn-more__line {
      width: 132px;
   }

   .main-screen__buttons button {
      margin: 0;
   }
}

@media (max-width: 382px) {
   .main-screen__buttons {
      display: flex;
      justify-content: space-between;
   }

   .learn-more__line {
      width: 132px;
   }

   .main-screen__buttons button {
      margin: 0;
   }
}

@media (max-width: 400px) {
   .btn{
      font-size: 13px;
   }

   .learn-more__line {
      width: 132px;
   }

   .main-screen__buttons button {
      margin: 0;
   }

   .main-screen__title h1 {
      font-size: 28px;
      line-height: 35px;
   }

   .main-screen__pretitle p{
      font-size: 14px;
   }

   .main-screen__title h1 span:before {
      top: 14px;
      left: 10px;
      width: 116px;
      height: 18px;
   }
}

@media (max-width: 354px) {
   .main-screen__title h1 span:before {
      top: 13px;
      left: 10px;
      width: 96px;
      height: 15px;
   }

   .main-screen__title h1 {
      font-size: 24px;
      line-height: 30px;
   }
}






@media (max-width: 376px) {
   .main-screen__buttons .btn-white{
      padding: 15px 32px 13px 32px;
   }

   .main-screen__buttons .btn-white-outline{
      padding: 14px 30px 12px 43px;
   }

   .btn-white-outline {
      background: url(../img/place-icon.svg) 25px 13px no-repeat;
   }

   .learn-more__line {
      width: 92px;
   }
}

@media (max-width: 376px) {
   .main-screen__buttons .btn-white {
      padding: 15px 23px 13px 23px;
   }

   .btn-white-outline {
      background: url(../img/place-icon.svg) 18px 13px no-repeat;
   }

   .main-screen__buttons .btn-white-outline {
      padding: 14px 23px 12px 34px;
   }

   
}


@media  (max-width: 894px){
   .choice__block{
      margin-bottom: 40px;
   }
    .info__advantages {
      background: none;
    }
}

@media (max-width: 800px) {


   .info__advantages {
      background: none;
   }
}

@media (max-width: 659px) {
   .header__logo img {
      width: 80%;
   }
   .footer__top{
      justify-content: space-around;
      margin-bottom: 50px;
   }
   .footer__block {
      width: 34%;
      margin-bottom: 30px;
   }

   footer{
      padding-top: 110px;
   }
}

@media (max-width: 625px) {
   .reviews__feedback-title h3 {
      font-size: 22px;
   }
   .reviews__block{
      margin-right: 30px;
   }

   .choice{
      padding-bottom: 100px;
   }
}

@media (max-width: 536px) {

   .footer__block {
      width: 35%;
   }

}

@media (max-width: 525px) {
   .footer__block {
      width: 37%;
   }
   .book__form .form{
      padding: 52px 49px;
   }
   h2{
      font-size: 27px;
   }
}

@media (max-width: 495px) {
   .footer__block {
      width: auto;
   }
}

@media (max-width: 490px) {
   .reviews__block-text p {
      font-size: 18px;
   }

   .reviews__block{
      padding: 49px 32px;
   }

   .info__advantages-img img{
      width: 85%;
   }
}

@media (max-width: 470px) {
   .book__form .form {
      width: 300px;

   }

   .reviews__block {
      padding: 49px 32px;
   }

   .book__content-custom-changes{
      justify-content: center;
   }

   .book__content-custom-type__button button {
      margin-right: 0px;
   }

   .book__content-custom-type__button{
      display: flex;
      justify-content: space-around;
   }
   .book__content-custom-type__p p{
      text-align: center;
   }

   .book__content-custom-changes__l, .book__content-custom-changes__r{
      text-align: center;
   }

   .book__form .form__total p{
      font-size: 26px;
   }
}

@media (max-width: 480px) {
   .footer__block {
      width: 61%;
      text-align: center;
   }

   .footer__sparcle-social a {

      margin-right: 12px;
      margin-left: 12px;
   }

   .footer__top h4{
      font-size: 18px;
   }
}

@media (max-width: 467px) {

   .reviews__feedback-title h3 {
      font-size: 22px;
   }

   .book__form .form {
      padding: 52px 29px;
      width: 340px;
   }

   .reviews {
      padding-bottom: 50px;
      padding-top: 100px;
   }

   footer{
      padding-top: 50px;
   }

   .book{
      padding-bottom: 100px;
   }

   .reviews__blocks {
      margin-bottom: 90px;
   }
   .reviews__feedback-button button {
      margin-right: 0;
   }
   .inside {
      width: auto;
      max-width: 86%;
   }

   .book__content{
      max-width: 86%;
      min-width: 100%;
   }

   .reviews__block{
      max-width: 256px;
   }
}

@media (max-width: 430px) {
   .choice__block{
      margin-right: 0;
      margin-left: 0;
   }
   .book__form .form__button a img{
      margin-left: 12px;
   }
   .book__form .form__total p{
      margin-right: 25px;
   }

   .book__form .form__total p:last-child{
      margin-right: 0;
   }
   
   .book__form .form {
      padding: 52px 29px;
      width: 300px;
   }

   .choice{
      padding-bottom: 50px;
   }

   .reviews{
      padding-top:60px;
   }

   .book{
      padding-top: 20px;
      padding-bottom: 60px;

   }

   .info {
      padding-bottom: 50px;
      padding-top: 50px;

   }
}

@media (max-width: 410px) {
   .reviews__block {
      max-width: 226px;
   }

   .reviews__block-text p {
      font-size: 17px;
   }

   .reviews__feedback-title h3 {
      font-size: 18px;
   }
}

@media (max-width: 377px) {
   .book__form .form{
      width: 260px;
      padding: 42px 29px;
   }
   .reviews__feedback-button button{
      margin-bottom: 20px;
   }
   h2{
      font-size: 21px;
   }
   .choice__block-title p{
      font-size: 20px;
   }

   .choice__block-descr p{
      font-size: 13px;
   }
}

@media (max-width: 377px) {
   .book__form .form {
      width: 240px;
      padding: 42px 29px;
   }

   .book__form .form__total p {
      margin-right: 15px;
   }

   .reviews__feedback-button button {
      margin-bottom: 20px;
   }

   .book__content-custom-changes__l {
      margin-right: 0px;
   }

   .book__content-custom-changes {
      justify-content: space-between;
   }

   .reviews__block {
      padding: 49px 20px 49px 20px;
   }

   .reviews__block {
      max-width: 219px;
   }


}

@media (max-width: 350px) {
   .book__content-custom-type__button .btn{
    padding: 12px 22px 10px 22px;
   }

   .book__content-custom-changes__button p{
      margin: 0px 18px;
   }
}
