
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}



/*---------------------------*/
@font-face {
	font-family: 'AvenirNextLTPro';
	src: url('../fonts/AvenirNextLTPro-Demi.eot');
	src: local('☺'), url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'), url('fonts/AvenirNextLTPro-Demi.ttf') format('truetype'), url('fonts/AvenirNextLTPro-Demi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'AvenirNextLTPro';
	font-family: 
	font-size: 14px;
}

/*----------HEADER----------*/


.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.header{
	background: url(../img/01.jpg) 0 0 / cover no-repeat;
	min-height: 994px;
}
.nav-row {
	display: flex;
	justify-content:space-between;
	
}
.nav__logo {
	padding-top: 24px;
}
.nav__navigation{
	border-bottom: 2px solid rgba(209,211,222,0.25);
	display: inline-block;
	margin-right: 60px;
	margin-top: 51px;
}
.nav__navigation li{
	display: inline-block;
	margin-right: 60px;
	font-size: 15;
	padding-bottom: 17px;
}
.nav__navigation li:last-child{
	margin-right: 0;
}
.nav-hr-block{
	display: inline-block;
}

.nav__navigation li a{
	margin-bottom: 14px;
	color: #ffffff;
	padding-bottom: 14px;
}
.nav__navigation li a:hover{
	transition: 400ms;
	border-bottom: 6px solid #f45e1f;
}
.nav__button_quote {
	top:0;
	position: relative;
	text-align: center;
	padding: 15px 0 17px 0;
	display: inline-block;
	min-height: 45px;
	min-width: 160px;
	color: #f2645e;
	font-size: 15;
	background-color: #fff9f6; 
	border-radius: 23px;
}
.content{
	flex: 1 1 auto;
}

.services {
	margin-top: 192px;
	color: #ffffff;
}
.services__title {
	font-size: 65px;
	font-weight: 700;
	max-width: 667px;
	margin-bottom: 23px;
}
.services__subtitle {
	max-width: 420px;
	font-size: 15px;
	margin-bottom: 49px;
	line-height:23px;
	word-spacing:4px;
}
.nav__button{
	min-width: 160px;
}
.nav__link-1{
	margin-right: 25px;
}
.nav__link-2{
	color: #ffffff;
	background: url(../img/02.png) 28% 46% no-repeat;
	text-align: center;
	padding: 15px 0 17px 20px;
	display: inline-block;
	min-height: 45px;
	min-width: 160px;
	font-size: 15;
	border-radius: 23px;
	border: 1px solid #ffffff;
}
.nav__button_quote:hover, .nav__link-2:hover{
	transition: 700ms;
	background-color: #f2645e;
	color: #ffffff;
	border:1px solid #ffffff;
}
.leare-more{
	margin-top: 214px;
	text-transform: uppercase;
	color: #fffefe;
	font-size: 12px;
	display: inline-block;
}
.leare-more-hr{
	margin-bottom: 4px;
	display: inline-block;
	width: 443px;
	height: 1px;
	background-color: #ffffff;
	opacity: 0.4;
}
.leare-more-img{
	display: inline-block;
	margin-top: -30px;
	position: relative;
	top: -25px;
	left: -5px;
}
/*---------CARDS--------*/


.cards {
	min-height: 597px;
	background-color: #fafbfd;
}
.cards-wrapper{
	position: relative;
	top: -48px;
	z-index: 3;
	background-color: #fafbfd;
}
.cards-row {
	margin: 0 -35px;
	display:flex;
	justify-content:center;
}
.cards__title {
	text-align: center;
	padding: 20px 0;
	color: #b4b4b4;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 111px;
}
.cards__card {
	background-color: #ffffff;
	margin: 0px 35px;
	width: 330px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.02);
	border-radius: 10px;
	padding: 40px 46px 37px 36px;
}
.cards__card_img{
	margin-bottom: 27px;
	max-width: 52px;
}
.cards__card_title {
	color: #273164;
	font-size: 24px;
	margin-bottom: 18px;
}
.cards__card_subtitle{
	flex: 1 1 auto;
	margin-bottom: 37px;
	color: #b4b4b4;
	font-size: 14px;
	line-height: 22px;
}
.cards__card_subtitle-style{
	color: #ffffff;
}
.cards__card_link{
	font-size: 13px;
	color: #f45e1f;
	text-decoration: underline;
}
.cards__card-two{
	color: #ffffff;
	background-color: #273164;
}
.cards__card_title-style, .cards__card_subtitle-style{
	color:#ffffff;
}

/*----------way-cleaning-------------*/

/*------------------*/
.content-title{
	color: #273164;
	font-size: 24px;
	line-height: 35px;
}
.content-wrapper{
	padding-left: 100px;
}
/*--------------------*/

.way-cleaning {
	min-height: 400px; 
}
.way-cleaning-row {
	display: flex;
	margin: 0 -55px;
}
.way-cleaning__title {
	margin: 135px 0 50px 0;
	color: #273164;
	font-size: 30px;
}
.way-cleaning__text {
	margin: 0 55px;
	max-width: 451px;
	color: #b4b4b4;
	line-height: 20px;
	font-size: 14px;
}
.way-cleaning__text p{
	margin-bottom: 30px;
}


/*--------the-team---------*/

.the-team {
	min-height: 750px;
	background-color: #f6f7fb;
}
.the-team-row {
	display:flex;
	margin: 0 -88px;
}
.the-team__professional-cleaning {
	margin:0 88px;
	position: relative;
}
.professional-cleaning__img {
	position: relative;
	top:-93px;
	max-width: 435px;
	max-height: 395px;
}
.professional-cleaning__dots {
	position: absolute;
	top:178px;
	left: 314px;
	max-width: 270px;
	max-height: 189px;

}
.content__h3 {
	color: #f45e1f;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 22px;
}
.professional-cleaning__subtitle{
	margin-top: 41px;
	color: #676f92;
	width: 449px;
	line-height: 26px;
	margin-bottom:43px;
}
.professional-cleaning__subtitle span{
	font-weight: 600;
}
.professional-cleaning__list{
	color: #273164;
	font-size: 16px;
	font-weight: 700;
}
.professional-cleaning__list li{
	margin-bottom: 20px;
	padding-left:48px;
	background: url(../img/08.png) 0 2px no-repeat;
}
.the-team__img {
	margin: 0 88px;
	margin-top: 75px;
}


/*------book-online------*/


.book-online {
	min-height: 764px;
	padding-top: 159px;
}
.book-online-row {
	margin: 0 -71.5px;
	display: flex;
}
.book-online__block {
	margin: 0 71.5px;
}
.book-online__text {
	margin-top: 50px;
	margin-bottom: 66px;
	max-width: 356px;
	color: #676f92;
	line-height: 24px;
}
.book-online__text-type {
	margin-bottom: 19px;
	color: #f45e1f;
}
.type-row {
	display: flex;
	margin: 0 -12.5px;
}
.type__button {
	margin: 0 12.5px;
}
.type__button-a {
	min-width: 160px;
	min-height: 45px;
	border-radius: 23px;
	border: 1px solid rgba(102, 110, 145, 0.3);
	color: #666e91;
	font-size: 15px;
	text-align: center;
	padding: 15px 0 17px 0;
	display: inline-block;
}
.type__button-a:hover{
	transition: 700ms;
	border-radius: 23px;
	border: 1px solid rgba(244, 94, 31, 0.35);
	background-color: #f2645e;
	background-color: #fff9f6;
	color: #f45e1f;
}
.type-text {
	text-align:center;
	margin-top: 45px;
	color: #f45e1f;
	margin-bottom: 28px;
}
.type__p{
	display: inline-block;
	margin: 0 26px;
}
.type__img {
	margin-top: -13px;
	border: 2px solid #e8e8e8;
	border-radius: 50%;
	display: inline-block;
}



.book-online__form{
	margin: 0 71.5px;
	padding: 52px 79px;
	width: 500px;
	height: 443px;
	background-color: #273164;
}
.form__subtotal {
	color: #ffffff;
	font-size: 30px;
}
.form__text {
	margin-top: 18px;
	margin-bottom: 51px;
	color: #ffffff;
	max-width: 195px;
	font-size: 11px;
	line-height: 24px;
}
.form__text span{
	color: #f45e1f;
}
.form__hint {
	color: #f45e1f;
	margin-bottom: 6px;
}
.form__input{
	width: 100%;
	background: none;
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
	margin-bottom: 28px;
	font-size: 15px;
	padding-bottom: 5px;
}
.form__button{
	padding-right: 100px;
	color: #f45e1f;
	font-size: 20px;
	background: url(../img/11.png) 80% 6px no-repeat;
}
.form__button:hover{
	transition: 3s;
	background: url(../img/11.png) 110% 6px no-repeat;
}


/*-------What-----*/
.what {
	padding: 157px 0 0 330px;
}
.what-wrapper{
	background-color: #f6f7fb;
}


.slider__item {
	margin-top: 60px;
	background: #ffffff;
	max-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.02);
	padding: 58px 32px;
	margin-right: 100px;
	margin-bottom:157px;
}
.slider__img {
	max-width: 62px;
	max-height: 62px;
	border-radius: 50%;

}
.slider__text {
	overflow: hidden;
	max-height:113px; 
	width: 304px;
	color: #273164;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 32px;
	margin-top: 34px;
}
.slider__name {
	color: #f45e1f;
	font-size: 15px;
}
.slider__characteristic {
	color: #b4b4b4;
}


/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}



.what__question{
	margin-bottom: 41px;
	font-size:25px ;
	color: #273164;
	text-align: center;
}
.what-row{
	display: flex;
	margin:0 -12.5px;
}
.question{
	margin: 0 12.5px;
}
.what__content{
	width: 400px;
	margin: 0 auto;
	padding-bottom: 159px;
}

/*---------footer--------*/



.footer {
	padding-top: 158px;
}
.footer-row {
	padding-bottom: 105px;
	display: flex;
	justify-content:space-between;
}
.sparcle__title {
	margin-bottom: 30px;
	color: #273164;
	font-size: 30px;
}
.sparcle__text {
	margin-bottom:36px;
	max-width: 152px;
	color: #676f92;
	font-size: 14px;
	line-height: 26px;
}
.commercial li,.contact li,.house li{
	color: #676f92;
}
.commercial li:first-child,.contact li:first-child,.house li:first-child {
	font-size: 22px;
	color: #273164;
	margin-bottom: 35px;
	padding-top: 6px;
}
.footer__text {
	margin:30px 0; 
	color: #676f92;
}
.contact__link{
	color: #f45e1f;
}
.contact__link:hover{
	text-decoration: underline;
}
.footer li{
	margin-bottom: 15px;
}
.container-footer{
	max-width: 1000px;
	margin:0 auto;
}
.footer__hr{
	width: 1000px;
	height: 2px;
	background-color: #d1d3de;
	opacity: 0.3;
}
.sparcle__center{
	margin: 0 24px;
}

@media (max-width:1400px){
	.container{
		max-width: 900px;
	}
	.nav__navigation li{
		margin-right: 30px;
	}
	.content-wrapper{
	padding-left: 20px;
	}
	.container-footer{
	max-width: 900px;
	}
	.what {
	padding: 157px 0 0 200px;
	}
	.leare-more-hr{
	width: 350px;
	}
}

