.btn-square
   button, a
      border: 1px solid #FFFFFF;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      text-transform: uppercase;
      background-color: transparent
      color: #FFFFFF;
      padding: 13px 35px

.btn
   button, a
      box-shadow: 0px 0px 20px #FF4A35;
      background: #FF4A35;
      border-radius: 30px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      color: #FFFFFF;
      padding: 16px 40px
      border: none
   &-long
      button, a
         padding: 21px 137px
         background: #FF4A35;


.body__button-center
   text-align: center

