nav
   ul
      display: flex
      margin: 0
      padding: 0
      li
         margin-right: 43px
      li, a
         font-family: Montserrat;
         font-style: normal;
         font-weight: 500;
         font-size: 15px;
         line-height: 18px;
         text-transform: uppercase;
         color: #FFFFFF;
         list-style: none
         a
            text-decoration: none
      