@import 'btn'
@import 'nav'
@import 'title'

input[type=checkbox]
	-webkit-appearance: none

*
	margin: 0
	box-sizing: border-box
.inside 
	width: 1465px
	margin: 0px auto
	padding: 0px 0px
	max-width: 100%

.inside-body
	width: 730px
	text-align: left
	margin: 0px auto
	padding: 0px 0px
	max-width: 100%

.wraper
	overflow: hidden

.d-flex
	display: flex
.header__mob-menu 
   top: 0
.header__mob-menu 
	display: none !important
	position: absolute
	margin-left: 86%
	padding: 21px
	width: 215px
	height: 358px
	background: #2768E6
	border-radius: 10px 0px 0px 10px
	display: flex
	flex-direction: column
	text-align: right
	right: 0
	.bg-men
		justify-content: space-between
		align-items: center
	nav
		ul
			flex-direction: column
			li
				margin: 0
				margin-bottom: 15px
	.header__buttons
		margin-bottom: 20px
		margin-right: 0
		margin-top: 15px
		margin-left: 14px
		button, a
			font-family: Montserrat
			font-style: normal
			font-weight: bold
			font-size: 8px
			text-transform: uppercase
			color: #FFFFFF
			padding: 5px 10px 	
	.header__title
		font-size: 15px

.burger_menu
	&_line
		background: #FFFFFF
		border-radius: 10px
		width: 19.5px
		height: 2px
		margin-top: 4px
		margin-bottom: 4px
header
	background: #273FDF
	padding-top: 27px
	padding-bottom: 22px
	.header__title
		display: none
.header
	justify-content: space-between
	align-items: center
	&__nav
		align-items: center
		&-tel

			a
				font-family: Montserrat 
				font-style: normal 
				font-weight: 500 
				font-size: 15px 
				text-transform: uppercase 
				color: #FFFFFF 
				text-decoration: none
	&__buttons
		display: flex
	&__logo
		display: flex
		font-family: Montserrat 
		font-style: normal 
		font-weight: bold 
		font-size: 17px 
		color: #FFFFFF 

		&-text
			margin-top: 23px 
		img
			margin-right: 10px
	&__title
		font-family: Montserrat 
		font-style: normal 
		font-weight: bold 
		font-size: 20px 
		color: #FFFFFF 
.btn-blue
	box-shadow: 0px 0px 20px #2740DE !important
	background: #273FDF !important
	margin-left: 25px


.mini
   padding-top: 1% !important
.mini
	height: 84px !important
.top
   padding-top: 1% !important
.top
	height: 53px !important
.btn-orange
	box-shadow: 0px 0px 20px #FF4A35
	background: #FF4A35
	border-radius: 30px
	color: #FFFFFF

.popup
	display: none
	position: absolute
	width: 568px
	height: 124px
	left: 504px
	top: 630px

	background: #FF4A35
	border-radius: 10px
	font-family: Montserrat
	font-style: normal
	font-weight: bold
	font-size: 15px
	line-height: 18px
	text-align: center
	padding: 44px 44px 47px 44px
	color: #FFFFFF

.order-body
	background: url(../img/bg2.png) center no-repeat
	background-size: cover

.body
	background: url(../img/bg.png) center no-repeat
	background-size: cover
	padding-top: 135px
	padding-bottom: 139px
	overflow: hidden
	.inside
		text-align: center
	&__title
		margin-bottom: 60px
		&-block
			background: #2768E6 
			text-align: center
			padding-top: 45px
			padding-bottom: 45px
			margin-bottom: 32px
			border-radius: 10px 
			font-family: Montserrat 
			font-style: normal 
			font-weight: bold 
			font-size: 45px 
			color: #FFFFFF 
	&__input
		margin-bottom: 38px
		font-family: Montserrat 
		font-style: normal 
		font-weight: 500 
		font-size: 20px 
		color: #000000 
		

		p
			margin-bottom: 15px !important
		input
			border: 3px solid #B9B9BE 
			box-sizing: border-box 
			border-radius: 10px 
			width: 730px 
			height: 56px 
			font-family: Montserrat 
			font-style: normal 
			font-weight: 500 
			font-size: 15px 
			color: #666666 
			padding: 19px 0 19px 21px 
			max-width: 100%
			margin-bottom: 17px
			&:last-child
				margin-bottom: 0
			&:focus
				outline: none
		&-red
			input
				background: #FFFFFF 
				border: 4px solid #FF4A35 
				box-sizing: border-box 
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25) 
				border-radius: 10px 
				font-family: Montserrat 
				font-style: normal 
				font-weight: 500 
				font-size: 20px 

				color: #FF4A35 
				padding: 29px 0px 29px 29px
		&-blue
			input
				background: #FFFFFF 
				border: 4px solid rgba(39, 104, 230, 0.66) 
				box-sizing: border-box 
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25) 
				border-radius: 10px 
				font-family: Montserrat 
				font-style: normal 
				font-weight: 500 
				font-size: 20px 

				color: #2768E6 
				padding: 29px 0px 29px 29px
		&-big
			input
				padding: 37px 0px 37px 29px
				font-size: 20px
		
	&__check
		margin-bottom: 24px
		&-wrap
			width: 470px
			input
				margin-right: 29px
			p
				font-family: Montserrat 
				font-style: normal 
				font-weight: normal 
				font-size: 15px 
				line-height: 18px 
				color: #000000 
			a
				font-weight: bold 
				color: #2768E6 
				text-decoration: none
			margin-bottom: 11px
			&:last-child
				margin-bottom: 0
.order-body
	background: url(../img/bg2.png) center no-repeat
	background-size: cover
.social
	max-width: 100%
	width: 540px
	margin: 0 auto
	flex-wrap: wrap
	text-decoration: none
	a
		text-decoration: none
	&__block
		margin-right: 25px
		margin-left: 25px

		width: 85px
		text-align: center
		margin-bottom: 25px

	&-title
		font-family: Montserrat 
		font-style: normal 
		font-weight: bold 
		font-size: 15px 
		color: #000000 

	&-img
		margin-bottom: 10px
.table-body
	padding-bottom: 0px

.body__input
	.jq-selectbox__select
		background: #FFFFFF  !important
		border: 4px solid #FF4A35  !important
		box-sizing: border-box  !important
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25) !important 
		border-radius: 10px  !important
		font-family: Montserrat  !important
		font-style: normal  !important
		font-weight: 500  !important
		font-size: 20px !important 
		line-height: 24px  !important
		color: #FF4A35  !important
		padding: 25px 447px 49px 29px !important
		
	.jq-selectbox__dropdown, .jq-selectbox__dropdown ul 
		background: #FFFFFF !important
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25) !important
		border-radius: 10px !important
	.jq-selectbox li
		font-family: Montserrat !important
		padding: 19px 0px 19px 0px !important
		margin: 0px 29px !important
		border-bottom: 2px solid #B9B9BE
		font-style: normal !important
		font-weight: 500 !important
		font-size: 15px !important
		line-height: 18px !important
		color: #666666 !important
		&:last-child
			border-bottom: none !important
	.jq-selectbox li:hover
		background-color: #fff !important
	.jq-selectbox li.selected
		background: #fff !important
	.jq-selectbox 
		width: 100% !important
		max-width: 100% !important
	.jq-selectbox__trigger
		background: #F44336 url(../img/arrow.svg) center no-repeat !important
		border: none !important
		width: 82px !important
	.jq-selectbox__trigger-arrow
		border: none !important
		background: url(../img/arrow.svg) !important

.contacts
	background: #F6F7FD
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17)
	border-radius: 10px
	padding: 61px 89px
	max-width: 100%
	justify-content: space-between

	&__l
		text-align: left
		.title
			margin-bottom: 69px
		&-content
			p
				font-family: Montserrat
				font-style: normal
				font-weight: normal
				font-size: 30px
				margin-bottom: 30px
				color: #000000
	&__r
		max-width: 100%
		width: 451px
		text-align: left
		.title
			margin-bottom: 67px
		&-content
			form
				p
					font-family: Montserrat
					font-style: normal
					font-weight: normal
					font-size: 15px
					color: #000000
				input
					margin-bottom: 22px
					background: #FFFFFF
					box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
					border-radius: 10px
					font-family: Montserrat
					font-style: normal
					font-weight: bold
					font-size: 15px
					color: #666666
					padding: 19px 0px 19px 21px
					display: block
					max-width: 100%
					border: none
					width: 451px
				
				textarea
				   
					margin-bottom: 41px
					font-family: Montserrat
					font-style: normal
					font-weight: bold
					font-size: 15px
					color: #666666
					padding: 19px  21px
					background: #FFFFFF
					box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
					border-radius: 10px
					max-width: 100%
					border: none
					width: 451px
					min-width: 451px
    				min-height: 132px
    				max-height: 132px
				button
					margin-bottom: 22px
.warn
	color: #F44336 !important
	border: 2px solid #F44336 !important
	margin-bottom: 44px !important
	&::placeholder
		color: #F44336 !important
.wrap-input
	position: relative
.wrap-input::after
	top: 74px
	content: 'To pole jest wymagane do wypełnienia'
	position: absolute
	font-family: Montserrat
	font-style: normal
	font-weight: normal
	font-size: 15px
	color: #FF4A35
	width: 444px
	height: 18px

.private-office
	text-align: left
	justify-content: space-between
	&__l
		border: 2px solid #B9B9BE
		box-sizing: border-box
		width: 352px
		height: 269px
		padding-top: 40px
		text-align: center
		position: relative
		&::before
			content: ''
			background: url(../img/Group181.png) center no-repeat
			left: 95%
			top: 14px
			position: absolute
			width: 6px
			height: 24px
			
		&-img
			margin-bottom: 30px
		&-title
			p
				font-family: Montserrat
				font-style: normal
				font-weight: normal
				font-size: 18px

				color: #000000
	&__r
		max-width: 67%
	&__pretitle

		padding-top: 17px
		margin-bottom: 20px
		p
			font-family: Montserrat
			font-style: normal
			font-weight: 500
			font-size: 25px
			color: #000000
	&__line
		width: 94%
		max-width: 100%
		height: 1px
		background-color: #b9b9be
		margin-bottom: 64px
		margin-top: 44px
	&__input
		display: flex
		flex-wrap: wrap
		&-wrap
			margin-bottom: 37px
			margin-right: 41px
			font-family: Montserrat
			font-style: normal
			font-weight: 500
			font-size: 20px
			margin-bottom: 13px
			color: #000000
			input
				background: #FFFFFF
				border: 3px solid #DCDCDC
				box-sizing: border-box
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
				border-radius: 10px
				width: 443px
				height: 56px
				
	&__buttons
		margin-top: 20px
		.btn-1
			margin-right: 82px
			button, a
				width: 399px
				font-size: 20px
		.btn-2
			button
				align-items: center
				border: 3px solid #F44336
				box-sizing: border-box
				border-radius: 30px

				background-color: transparent
				color: #F44336
				background-repeat: no-repeat
				font-size: 20px
				width: 399px
				padding: 16px 0px 16px 0px
				img
					margin-left: 15px
					margin-bottom: -8px	
			input
				display: block
				font-family: Montserrat
				font-style: normal
				font-weight: 500
				font-size: 20px
				color: #666666
				margin-top: 23px
				padding-left: 19px
				background: #FFFFFF
				border: 3px solid #DCDCDC
				box-sizing: border-box
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
				border-radius: 10px
				width: 443px
				height: 56px

.configuration
	&__prettitle
		p
			font-family: Montserrat
			font-style: normal
			font-weight: normal
			font-size: 20px
			line-height: 24px
			color: #000000
			margin-bottom: 15px
			&:first-child
				margin-top: 17px
				font-family: Montserrat
				font-style: normal
				font-weight: 500
				font-size: 20px
				text-align: center

				color: #000000
	&__select
		text-align: left
		width: 1056px
		margin: 0 auto
		margin-bottom: 24px

		p
			font-family: Montserrat
			font-style: normal
			font-weight: bold
			font-size: 25px
			color: #000000
			margin-bottom: 10px
		.jq-selectbox__select
			background: #FFFFFF
			border: 2px solid #B9B9BE
			box-sizing: border-box
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
			border-radius: 10px
			border-radius: 10px  !important
			font-family: Montserrat  !important
			font-style: normal  !important
			font-weight: bold !important
			font-size: 20px !important 
			line-height: 24px  !important
			color: #666666 !important
			padding: 25px 447px 49px 29px !important
			
		.jq-selectbox__dropdown, .jq-selectbox__dropdown ul 
			background: #FFFFFF !important
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25) !important
			border-radius: 10px !important
		.jq-selectbox li
			font-family: Montserrat !important
			padding: 19px 0px 19px 0px !important
			margin: 0px 29px !important
			border-bottom: 2px solid #B9B9BE
			font-style: normal !important
			font-weight: 500 !important
			font-size: 15px !important
			line-height: 18px !important
			color: #666666 !important
			&:last-child
				border-bottom: none !important
		.jq-selectbox li:hover
			background-color: #fff !important
		.jq-selectbox li.selected
			background: #fff !important
		.jq-selectbox 
			width: 100% !important
			max-width: 100% !important
		.jq-selectbox__trigger
			background: url(../img/down-arrow2.svg) center no-repeat !important
			border: none !important
			width: 82px !important
		.jq-selectbox__trigger-arrow
			border: none !important
			background: url(../img/arrow.svg) !important
	&__download
		text-align: left
		width: 1056px
		margin: 0 auto
		p
			font-family: Montserrat
			font-style: normal
			font-weight: bold
			font-size: 25px
			color: #000000
			margin-bottom: 10px
			&:last-child
				font-family: Montserrat
				font-style: normal
				font-weight: bold
				font-size: 15px
				color: #3D3D3D
				margin-bottom: 0
		&-button
			align-items: center
			button
				background: #DCDCDC
				border: 2px solid #B9B9BE
				box-sizing: border-box
				border-radius: 10px
				padding: 11px 54px
				margin-right: 24px
				font-family: Montserrat
				font-style: normal
				font-weight: bold
				font-size: 15px

				color: #3D3D3D
	&__button
		width: 1056px
		margin: 0 auto
		margin-top: 35px
		text-align: left
		button, a
			font-size: 20px
			width: 251px
.pretitle

	p
		font-family: Montserrat
		font-style: normal
		font-weight: bold
		font-size: 20px
		color: #000000
.dopramka
	
	&-img
		margin-bottom: 19px
		margin-top: 25px
	&-buttons
	&-button
		&:first-child
			margin-bottom: 18px
			button, a
				font-size: 20px
				width: 291.16px
				height: 58px


		&:last-child
			button, a
				box-shadow: 0px 0px 20px #FF4A35
				font-size: 20px
				color: #F44336
				background-color: transparent
				border: 3px solid #F44336
				height: 58px
				width: 291.16px


	&-pretitle
		margin-bottom: 19px
		p
			font-family: Montserrat
			font-style: normal
			font-weight: 500
			font-size: 20px
			color: #666666
	
	&-select
		width: 384px !important
		margin: 0 auto
		margin-bottom: 46px
		
		.jq-selectbox__select

			margin: 0 auto
			background: #EFEFEF
			border: 2px solid #B9B9BE
			box-sizing: border-box
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
			border-radius: 10px
			border-radius: 10px  !important
			font-family: Montserrat  !important
			font-style: normal  !important
			font-weight: 500 !important
			font-size: 20px !important 
			line-height: 24px  !important
			color: #666666 !important
			padding: 25px 184px 49px 9px!important
			
		.jq-selectbox__dropdown, .jq-selectbox__dropdown ul 
			margin: 0 auto


			background: #FFFFFF !important
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25) !important
			border-radius: 10px !important
		.jq-selectbox li
			font-family: Montserrat !important
			padding: 19px 0px 19px 0px !important
			margin: 0px 29px !important
			border-bottom: 2px solid #B9B9BE
			font-style: normal !important
			font-weight: 500 !important
			font-size: 15px !important
			line-height: 18px !important
			color: #666666 !important
			&:last-child
				border-bottom: none !important
		.jq-selectbox li:hover
			background-color: #fff !important
		.jq-selectbox li.selected
			background: #fff !important
		.jq-selectbox 
			width: 100% !important
			max-width: 100% !important
		.jq-selectbox__trigger
			background: #EFEFEF url(../img/down-arrow2.svg) center no-repeat !important
			border: none !important
			width: 82px !important
			border-radius: 10px
		.jq-selectbox__trigger-arrow
			border: none !important
			background: url(../img/arrow.svg) !important
.order
	width: 696px
	.jq-checkbox
		min-width: 16px
	&__pretitle
		font-family: Montserrat
		font-style: normal
		font-weight: 500
		font-size: 25px
		margin-top: 18px
		margin-bottom: 62px
		color: #273FDF
	&__input
		flex-wrap: wrap
		justify-content: space-between
		&-wrap
			max-width: 100%

			margin-bottom: 18px
			margin-bottom: 9px
			font-family: Montserrat
			font-style: normal
			font-weight: bold
			font-size: 15px
			color: #000000
			text-align: left
			input
				max-width: 100%
				background: #FFFFFF
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
				border-radius: 10px
				width: 340px
				height: 56px
				border: none
				font-family: Montserrat
				font-family: Montserrat
				font-style: normal
				font-weight: 500
				font-size: 20px
				color: #666666
				padding-left: 20px

				
			&-long
				max-width: 100%

				margin-bottom: 18px
				margin-bottom: 9px
				font-family: Montserrat
				font-style: normal
				font-weight: bold
				font-size: 15px
				color: #000000
				text-align: left
				input
					max-width: 100%
					font-family: Montserrat
					font-family: Montserrat
					font-style: normal
					font-weight: 500
					font-size: 20px
					color: #666666
					padding-left: 20px
					background: #FFFFFF
					box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
					border-radius: 10px
					width: 696px
					height: 56px
					border: none
					
		&-check
			display: flex
			text-align: left
			p
				font-family: Montserrat
				font-style: normal
				font-weight: bold
				font-size: 15px
				color: #000000
				margin-left: 13px
	&__done
		margin-top: 82px
		&-title
			display: flex
			justify-content: space-between
			p
				font-family: Montserrat
				font-style: normal
				font-weight: 500
				font-size: 25px
				color: #273FDF
				position: relative
				&:after
					content: ''
					position: absolute
					width: 116px
					height: 0px
					left: 0
					top: 40px
					border-top: 1px solid #273FDF
			span
				font-family: Montserrat
				font-style: normal
				font-weight: 500
				font-size: 15px

				color: #000000
		&-input
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			margin-top: 54px
			text-align: left
		&-wrap
			margin-bottom: 18px
			font-family: Montserrat
			font-style: normal
			font-weight: bold
			font-size: 15px
			margin-bottom: 9px
			color: #000000
			.jq-selectbox__select
				border: none !important
				background: #FFFFFF !important
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important
				border-radius: 10px !important
				font-family: Montserrat !important
				font-style: normal !important
				font-weight: normal !important
				font-size: 15px !important
				width: 305px !important
				height: 56px !important
				padding: 16px 0 19px 35px!important
				color: #000000 !important
			.jq-selectbox__trigger
				background: #DCDCDC
				border-radius: 0px 10px 10px 0px
				background: #EFEFEF url(../img/down-arrow3.svg) center no-repeat !important

				width: 57px
				border: none
			.jq-selectbox__trigger-arrow
				display: none
			.jq-selectbox__dropdown, .jq-selectbox__dropdown ul 
				background: #FFFFFF !important
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25) !important
				border-radius: 10px !important
			.jq-selectbox li
				font-family: Montserrat !important
				padding: 19px 0px 19px 0px !important
				margin: 0px 29px !important
				border-bottom: 2px solid #B9B9BE
				font-style: normal !important
				font-weight: 500 !important
				font-size: 15px !important
				line-height: 18px !important
				color: #666666 !important
				&:last-child
					border-bottom: none !important
			.jq-selectbox li:hover
				background-color: #fff !important
			.jq-selectbox li.selected
				background: #fff !important

			input
				background: #FFFFFF
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
				border-radius: 10px
				width: 305px
				height: 56px
				border: none

			
				
			&-long
				display: flex
				width: 305px
				margin-bottom: 47px
				&-input
					p
						font-family: Montserrat
						font-style: normal
						font-weight: bold
						font-size: 15px
						color: #000000
						margin-bottom: 9px
					input
						background: #FFFFFF
						box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
						border-radius: 10px
						width: 221px
						height: 56px
						border: none
		&-check
			display: flex
			margin-top: 42px
			margin-left: 17px
			input
				border: 2px solid #B9B9BE
				box-sizing: border-box
				margin-right: 10px
				margin-top: 2px
				border-radius: 5px
			p
				font-family: Montserrat
				font-style: normal
				
				font-weight: bold
				font-size: 15px
				color: #000000
	&__pay
		width: 1192px
		margin: 0 auto
		max-width: 100%
		padding: 0
		.order__done-title
			margin-bottom: 50px
			margin-top: 53px
		&-block
			background: #EEF3F7
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
			text-align: left
			padding: 24px 0px 24px 43px

			display: flex
			align-items: center
			&:nth-child(3)
				padding: 32px 0px 32px 43px
				p
					margin-bottom: 6px

			&:last-child
				padding: 48px 0px 62px 43px
				p
					margin-bottom: 16px
				
			&.active
				background: #FFFFFF
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
			&-text
				margin-left: 41px
				p
					font-family: Montserrat
					font-style: normal
					font-weight: bold
					font-size: 20px
					color: #000000
					margin-bottom: 6px
				span
					font-family: Montserrat
					font-style: normal
					font-weight: 500
					font-size: 15px
					color: #797979
	&__delivery
		.order__pay-block
			background: #FFFFFF
			padding: 24px 43px 24px 43px
			justify-content: space-between

			p
				margin-bottom: 6px
	&__pay-price

		p
			font-family: Montserrat
			font-style: normal
			font-weight: bold
			font-size: 20px
			color: #000000
.order__pay-block-input
	.jq-checkbox
		border: 2px solid #B9B9BE
		box-sizing: border-box
		border-radius: 100%
		width: 35px
		height: 35px
		background-color: transparent
	.jq-checkbox.focused, .jq-radio.focused 
    	border: 2px solid #B9B9BE !important
	.jq-checkbox.checked .jq-checkbox__div

		margin: 9px 0 0 7px
		border-bottom: 2px solid #000000
		border-left: 2px solid #000000
		width: 16px
		height: 8px

	.jq-checkbox.checked
		border: 2px solid #000000 !important
		box-sizing: border-box !important
.order__input-checks p
	max-width: 95%
.w
	align-items: center
	display: flex
.order__done-wrap-long
	margin-bottom: 0
.order__input-checks
	display: flex
	text-align: left
	margin-bottom: 24px
	p
		font-family: Montserrat
		font-style: normal
		font-weight: 500
		font-size: 15px
		color: #000000
		margin-left: 13px	
.table
	text-align: left !important
	.title
		margin-bottom: 27px
	.btn
		margin-bottom: 57px
		button, a
			font-size: 15px
	&__pretitle
		font-family: Montserrat
		font-style: normal
		font-weight: 500
		font-size: 20px
		color: #000000
	table
		font-family: Montserrat
		font-style: normal
		font-weight: normal
		font-size: 25px
		color: #000000
		background: #FBFBFB
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
		padding: 25px 16px
		margin-bottom: 85px
		margin-top: 19px
		button
			box-shadow: 0px 0px 20px rgba(39, 104, 230, 0.42)
			background: #2768E6
			border-radius: 30px
			font-family: Montserrat
			font-style: normal
			font-weight: bold
			font-size: 15px
			color: #FFFFFF
			border: none
			padding: 16px 47px
		a
			text-decoration: none
			font-family: Montserrat
			font-style: normal
			font-weight: normal
			font-size: 20px
			color: #2768E6
		.jq-selectbox__select
			
			background: #ECECEC
			border: 2px solid #B9B9BE
			box-sizing: border-box
			box-shadow: 0px 4px 10px rgba(81, 81, 81, 0.25)
			border-radius: 10px
			font-family: Montserrat !important
			font-style: normal !important
			font-weight: normal !important
			font-size: 15px !important
			width: 139px
			height: 56px
			padding: 10px 0px 19px 15px !important
			color: #000000 !important
		.jq-selectbox__trigger

			background: #B9B9BE
			border: 2px solid #B9B9BE
			box-sizing: border-box
			box-shadow: 0px 4px 10px rgba(81, 81, 81, 0.25)
			border-radius: 0px 7px 7px 0px
			border: none
		.jq-selectbox__trigger-arrow
			border-top: 5px solid #fff
			top: 25px
		.jq-selectbox__dropdown, .jq-selectbox__dropdown ul 
			background: #FFFFFF !important
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25) !important
			border-radius: 10px !important
		.jq-selectbox li
			font-family: Montserrat !important
			padding: 19px 0px 19px 0px !important
			margin: 0px 29px !important
			border-bottom: 2px solid #B9B9BE
			font-style: normal !important
			font-weight: 500 !important
			font-size: 15px !important
			line-height: 18px !important
			color: #666666 !important
			&:last-child
				border-bottom: none !important
		.jq-selectbox li:hover
			background-color: #fff !important
		.jq-selectbox li.selected
			background: #fff !important
		input
			width: 160px
			height: 56px

			border: 2px solid #B9B9BE
			box-sizing: border-box
			box-shadow: 0px 4px 10px rgba(81, 81, 81, 0.25)
			border-radius: 10px
			font-family: Montserrat 
			font-style: normal 
			font-weight: normal 
			font-size: 15px 
			padding: 14px 0px 14px 15px 
			color: #000000 
		tr
			border: 2px solid #B9B9BE
			
		th
			margin-left: 14px
			height: 114px
			border-right: 2px solid #B9B9BE
			border-top: 2px solid #B9B9BE
			padding-left: 13px
			padding-right: 13px
			padding-top: 3%
		.right
			border-right: none
		.top
			border-top: none

			
		.blue
			font-family: Montserrat
			font-style: normal
			font-weight: bold
			font-size: 25px
			color: #2768E6
		

footer
	background: #273FDF
	padding-top: 22px
	padding-bottom: 27px
.footer
	&__top
		justify-content: space-between
		align-items: center
	&__relament
		font-family: Montserrat 
		font-style: normal 
		font-weight: 500 
		font-size: 15px 
		color: #FFFFFF 
		a
			border-bottom: 1px solid #fff
			padding-bottom: 4px
			margin-right: 6px
			margin-left: 6px
			font-family: Montserrat 
			font-style: normal 
			font-weight: 500 
			font-size: 15px 
			text-decoration: none
			color: #FFFFFF 
	&__leng

		p
			font-family: Montserrat 
			font-style: normal 
			font-weight: 500 
			font-size: 15px 
			color: #FFFFFF 
		&-line
			width: 1px 
			height: 16px 
			background-color: #fff
			margin: 0px 27px
	&__line
		height: 1px
		width: 100%
		background-color: #fff
		margin-bottom: 33px
		margin-top: 19px
	&__bottom
		justify-content: space-between
		&-social
			&-img
				margin-right: 20px
				&:last-child
					margin-right: 0










//адаптив
